<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Spring Demo Beans -->
    <bean id="myCoach"
        class="com.ama.springdemo.BaseballCoach">
    </bean>
     <bean id="footballCoach"
        class="com.ama.springdemo.FootballCoach">
    </bean>
    <!-- Spring Logging Init Bean -->
    <bean id="myLoggerConfig" 
    	class="com.ama.springdemo.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
    
    <!-- define the dependency -->

    <!--
    <bean id="myCoach"
        class="com.luv2code.springdemo.BaseballCoach">         
    </bean>
    -->

</beans>